@{
    ViewData["Title"] = "Login";
}

@model ASPShop.Models.User

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <section class="p-5">
        <form asp-action="login" asp-controller="user" method="post">
            <p>
                <label for="Email">Почта</label><br />
                <input type="text" name="Email" />
            </p>
            <p>
                <label for="Password">Пароль</label><br />
                <input type="text" name="Password" />
            </p>
            <p>
                <input type="submit" value="Войти" />
            </p>
        </form>
    </section>

    <section class="p-5">
        <p><a asp-action="Registration">Зарегистрироваться</a></p>
    </section>
</body>
</html>